/* DrinkList.css */

.drink-list {
    list-style: none;
    padding: 0;
    display: list-item;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .drink-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    display: grid;
    justify-content: center;
    width: 200px;
  }
  
  .drink-item img {
    max-width: 150px;
    height: auto;
    border-radius: 5px;
  }

  .add-drink {
    display: grid;
    margin: 10px 0;
  }
  